.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.flex-item:nth-child(1) {
  flex-shrink: 0;
  height: 60px;
}

.flex-item:nth-child(2) {
  height: 600px;
  flex-grow: 1;
  flex-shrink: 1; /* 2 */
  overflow: hidden;
  display: flex;
  width: 100%;
}


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}


.inner-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.inner-flex-item:nth-child(1) {
  order: 0;
  flex: 1 1 60%;
  align-self: auto;
  height: 100%;
}

.inner-flex-item:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}